body{
    
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.navbar{
    background-color:#a1a1a1;
}

ul {
    list-style-type: none;
    display: flex;
    margin-left:100px;
    height:60px;
    margin: 0;
    
  }

ul li a {
    text-decoration: none;
    font-weight: 400;
    color: rgb(255, 255, 255);
    border-radius:10px;
    margin:20px;
    padding:10px;

    
}
.nav-item{
    background-image: linear-gradient(salmon , tomato );
    margin-left: 5px;
    margin-top: 29px;
    text-decoration: none;
    border-radius: 10px 10px 0px 0px;
}

.half-width{
    width: 50%;
}

.flexible-container{
    display: flex;
}
h1{
    color: rgb(95, 95, 95);
    font-size: 50px;
    font-weight: 600;
    

}
.top-banner{
    max-height: fit-content;

}

#single-text-color{
    color: orange;
}
#food-service-text{
    color: rgb(90, 90, 90);
    margin-bottom: 70px;
    font-size: 18px;
    font-weight: 400;
}
.order-button{
    font-size: 16px;
    background-image: linear-gradient(salmon , tomato );
    text-shadow: 5px 10px 20px gray;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    border-radius: 50px;
 
}
.contact-button{
    font-size: 16px;
    background-image: linear-gradient(salmon , tomato );
    text-shadow: 5px 10px 20px gray;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    border-radius: 50px;
    margin: 30px;
    
}

.banner-left{
    
    padding-top: 100px;
    margin-left: 100px;
    
}

#food-man-img{
    
    max-width: 100%;
    max-height: 100%;
}

.banner-image{
    padding: 50px;
    width: 50%;
}
.about-middle{
    background-image: url(images/others/about-bg.png);
    background-repeat: no-repeat;
    height: 700px; 
    background-size: 100%;
    
}

.about-profile{
    height: 718px; 
    
}
.about-img{
    text-align: center;
    margin: 0;
    padding: 20px;
}
#person-img{
    max-width: 100%;
    max-height: 87%;
    padding: 22px; 
}
.about-text{
    max-height: 100%;
    margin: 0;
    padding: 56px;
}

#about-text-details{
    margin-bottom: 100px;
    margin: 30px;
    text-align: justify;
    
    
}
#about-heading{
    color: rgb(95, 95, 95);
    font-size: 40px;
    font-weight: 600;
    margin: 30px;
}
.recipies-img{
    text-align: center;
    max-width: 90%;
    max-height: 75%;
    margin: 15px;
}
.recipies-cooked{
    box-shadow: 5px 5px 20px rgb(218, 215, 215);
    border-radius: 30px;
    width: 28%;
    margin: 20px;
}
.recipie-title{
    font-size: 30px;
    font-weight: 900;
    margin: 15px;
}
.recipie-title-details{
    text-align: justify;
    margin: 15px;
    font-weight: 400;
}
.recipies-details-text{
    text-align: center;
    color: #5b5b5b;
}
.recipies{
   
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}
#recipies-heading{
    font-size: 40px;
}
#recipies-heading-details{
    width: 40%;
    font-weight: 200;
    padding: 5px;
    margin: auto;
}
.follwers-social-media{
    
    box-shadow: 5px 5px 20px rgb(218 215 215);
    text-align: center;
    width: 67%;
    margin: auto;
    padding: 40px;
    margin-bottom: 100px;
    border-radius: 30px;
    margin-left: 176px;
}
.followers-liker{
    width: 40%;
}

.total-followers{
    font-size: 30px;
    

}
.footer{
    background-color: #0b0e17;
    
}
.footer-text{
    text-align: center;
    padding: 30px 50px;
}
#footer-quotes{
    color: #96979c;
    font-weight: 300;
}

#food-text{
    font-size: 25px;
    color: #fc8c46;
    font-weight: 600;

}
#network-text{
    font-size: 25px;
    color: #5b5b5b;
    font-weight: 600;

}